In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/cars_processed.csv')
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Origin,Age
0,18.000000,8,307.0,130,3504,12.0,US,51
1,16.000000,8,304.0,150,3433,12.0,US,51
2,17.000000,8,302.0,140,3449,10.5,US,51
3,14.000000,8,454.0,220,4354,9.0,US,51
4,23.551429,8,440.0,215,4312,8.5,US,51

In [3]:
df.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
count,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000
mean,23.672514,5.410853,192.184755,103.645995,2965.387597,15.573643,44.917313
std,7.736579,1.667795,103.703706,38.128651,846.332848,2.746260,3.668715
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,39.000000
25%,17.600000,4.000000,102.500000,75.000000,2221.500000,13.900000,42.000000
50%,23.200000,4.000000,146.000000,92.000000,2790.000000,15.500000,45.000000
75%,29.000000,6.000000,260.000000,121.000000,3589.500000,17.050000,48.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,51.000000

In [4]:
from sklearn import preprocessing

df[['Cylinders']] = preprocessing.scale(df[['Cylinders']].astype('float64'))
df[['Displacement']] = preprocessing.scale(df[['Displacement']].astype('float64'))
df[['Horsepower']] = preprocessing.scale(df[['Horsepower']].astype('float64'))
df[['Weight']] = preprocessing.scale(df[['Weight']].astype('float64'))
df[['Acceleration']] = preprocessing.scale(df[['Acceleration']].astype('float64'))
df[['Age']] = preprocessing.scale(df[['Age']].astype('float64'))

In [5]:
df.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
count,387.000000,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02,3.870000e+02
mean,23.672514,1.095879e-16,8.778508e-17,-1.061454e-17,-2.008155e-18,2.662240e-16,5.817913e-16
std,7.736579,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00,1.001294e+00
min,9.000000,-1.447404e+00,-1.199046e+00,-1.513838e+00,-1.600007e+00,-2.761372e+00,-1.615000e+00
25%,17.600000,-8.470340e-01,-8.659368e-01,-7.522710e-01,-8.800918e-01,-6.102152e-01,-7.962160e-01
50%,23.200000,-8.470340e-01,-4.459295e-01,-3.058349e-01,-2.075007e-01,-2.685060e-02,2.256768e-02
75%,29.000000,3.537065e-01,6.547792e-01,4.557326e-01,7.383860e-01,5.382839e-01,8.413513e-01
max,46.600000,1.554447e+00,2.537570e+00,3.318176e+00,2.572779e+00,3.363956e+00,1.660135e+00

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop(columns=['MPG', 'Origin'])
y = df['MPG']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression(normalize=True).fit(X_train, y_train)

In [9]:
print(f'Train Score: {linear_model.score(X_train, y_train):.2f}')

Train Score: 0.80

In [10]:
from sklearn.metrics import r2_score

y_pred = linear_model.predict(X_test)
print(f'Test Score: {r2_score(y_test, y_pred):.2f}')

Test Score: 0.74

In [11]:
def adjusted_r2(r_square, labels, features):
    adj_r_square = 1 - (1 - r_square) * (len(labels) - 1) / (len(labels) - features.shape[1] - 1)
    return adj_r_square

In [12]:
print(f'Adjusted R2: {adjusted_r2(r2_score(y_test, y_pred), y_test, X_test):.2f}')

Adjusted R2: 0.72

In [14]:
features_corr = X.corr()
features_corr

,Cylinders,Displacement,Horsepower,Weight,Acceleration,Age
Cylinders,1.000000,0.922633,0.811466,0.873029,-0.458161,0.321850
Displacement,0.922633,1.000000,0.894199,0.932822,-0.526901,0.357047
Horsepower,0.811466,0.894199,1.000000,0.863388,-0.670920,0.404458
Weight,0.873029,0.932822,0.863388,1.000000,-0.397181,0.299049
Acceleration,-0.458161,-0.526901,-0.670920,-0.397181,1.000000,-0.292705
Age,0.321850,0.357047,0.404458,0.299049,-0.292705,1.000000

In [15]:
abs(features_corr) > 0.8

              Cylinders  Displacement  Horsepower  Weight  Acceleration    Age
Cylinders          True          True        True    True         False  False
Displacement       True          True        True    True         False  False
Horsepower         True          True        True    True         False  False
Weight             True          True        True    True         False  False
Acceleration      False         False       False   False          True  False
Age               False         False       False   False         False   True

In [16]:
trimmed_features_df = X.drop(columns=['Cylinders', 'Displacement', 'Weight'])

In [17]:
trimmed_features_corr = trimmed_features_df.corr()
trimmed_features_corr

              Horsepower  Acceleration       Age
Horsepower      1.000000     -0.670920  0.404458
Acceleration   -0.670920      1.000000 -0.292705
Age             0.404458     -0.292705  1.000000

In [18]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [19]:
vif = pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [21]:
vif['features'] = X.columns

In [22]:
vif.round(2)
# 1 - Not correlated
# 1-5 - Moderately correlated
# >5 - Highly correlated

   VIF Factor      features
0        6.84     Cylinders
1       16.10  Displacement
2        8.82    Horsepower
3       10.69        Weight
4        2.49  Acceleration
5        1.22           Age

In [23]:
X = X.drop(columns=['Displacement', 'Weight'])

In [24]:
vif = pd.DataFrame()
vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['features'] = X.columns
vif.round(2)

   VIF Factor      features
0        3.05     Cylinders
1        4.56    Horsepower
2        1.90  Acceleration
3        1.20           Age

In [25]:
X = df.drop(columns=['MPG', 'Origin', 'Displacement', 'Weight'])
Y = df['MPG']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [26]:
linear_model = LinearRegression(normalize=True).fit(X_train, y_train)
print(f'Train Score: {linear_model.score(X_train, y_train):.2f}')
y_pred = linear_model.predict(X_test)
print(f'Test Score: {r2_score(y_test, y_pred):.2f}')
print(f'Adjusted R2: {adjusted_r2(r2_score(y_test, y_pred), y_test, X_test):.2f}')

Train Score: 0.74
Test Score: 0.64
Adjusted R2: 0.62